<div class="container mt-3">
  <div class="card" style="width: 500px;">
    <h5 class="card-header"><%= @cocktail.name %></h5>
    <div class="card-body">
      <p class="card-text">
        <% @cocktail.doses.each do |dose| %>
          <li style="list-style-type: none;">
            <%= dose.ingredient.name %>
            <%= dose.description %>
            <%= link_to "✄", dose_path(dose), method: :delete %>
          </li>
        <% end %>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
      </p>
          <%= f.button :submit, class: "btn-outline-success" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
          <%= link_to 'Back to cocktails', cocktails_path, class: "btn btn-outline-info" %>
        <% end %>
    </div>
  </div>
</div>








